# Python
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/
env/
.env

# macOS
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
node_modules/
jspm_packages/
